<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/f71878ad/control/0/plot" value="false" />
    <add key="/lpc/f71878ad/control/1/plot" value="false" />
    <add key="/lpc/f71878ad/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/1/level/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-504" />
    <add key="mainForm.Location.Y" value="120" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/f71878ad/voltage/0/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/1/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/2/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/3/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/4/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/5/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/6/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/7/plot" value="false" />
    <add key="/lpc/f71878ad/voltage/8/plot" value="false" />
    <add key="/lpc/f71878ad/temperature/0/plot" value="false" />
    <add key="/lpc/f71878ad/temperature/1/plot" value="false" />
    <add key="/lpc/f71878ad/temperature/2/plot" value="false" />
    <add key="/lpc/f71878ad/fan/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/factor/0/plot" value="false" />
    <add key="/hdd/1/factor/0/values" value="H4sIAAAAAAAEAHujc2udLtMNDwaGA/8rhVeaMgCBlzm/AwAMJSBoGAAAAA==" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAHujc2udLtMNDwaGA/8rhVeaMoDBN0cAIgTUDxgAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAHvAemudLtMNDwaGA/9brVaaMgCBaNZUJwDrkfhkGAAAAA==" />
    <add key="/hdd/1/data/0/values" value="H4sIAAAAAAAEAHvAemudLtMNDwaGA/9brVaaMgDBtc5WVwAIOQJ/GAAAAA==" />
    <add key="/hdd/1/level/0/values" value="H4sIAAAAAAAEAHvAemudLtMNDwaGA/9brVaaMoDBAgcAKttAChgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAHu2s2WdLtMNDwaGA/+zzP+ZMgBBUOBsJwBohwtuGAAAAA==" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAPs8qWWdLtMNDwaGA/9j4/6ZMoCBhCMABBsPQxgAAAA=" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEADv3KmqdLtMNDwaGA/9Fdm5iZAAChePHnRV2JjGB2A437zlbFWWB2Q0tT53LVKLA7AX+z51bY5LBbAafF85nuRLB7ITHH5xTdVMg4qu/OMcUJoDZCveeON/6ADGTofCI8+lXEPUNm487hx+BiDe0vnBevhUq/vSa89qHEPEFWy44X7wIVdN0zdlGCapmP7PLfiGoG3i/OivEQs0//MGZezKU7f3eeW43RL2D0yPn3VOh4pvuOPvPgrKfPXTmtISy1zx03rs2Gc4GADGVhY8gAQAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEADv3KmqdLtMNDwaGA/9Fdm5iZACCvubNrgo7k5hA7ByhTa5WRVlg9o7lG13LVKLAbLbuja6tMclgtkP1RtezXIlg9qmPG1xTdVPA7ICtG1xjChPAbLlNG11vfYCY+WHHZtfTryDqT7Rsdg0/AhFfUb7RdflWiPiKiZtc1z6EiG/7ssn14kUI+8b0Ta42ShA1Ah3rXfcLQdxgsH6Dq0IsRM2FzxtcuSdD2AHcG13ndkPU37m90XX3VIj4A5NNrv6zIOwFDze6clpC2A5PN7ruXZsMZwMAqj/ZtiABAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAFt/OGqdLtMNDwaGA/+NH2xiZAACMakLDgo7k5hAbD+lFw5WRVlg9gaR9w5lKlFg9sdPHxxaY5LB7Gs/Pzqc5UoEs2+++eWQqpsCZp++888hpjABzE5Mf+dw6wPEzMQFZxxOv4KoX8p6wSH8CER8t+knh+VbIeK7b953WPsQIn4x7abDxYsQ9uyi+w42ShA1F2w4HfcLQdxw3+m/g0IsRI3C6V8O3JMh7FLnnw5zuyHq161/7bB7KkRc9MlTB/9ZEPY0/9cOnJYQtrbwa4e9a5PhbABy07Y8IAEAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAFt/OGqdLtMNDwaGA/9ldm5iZIAC6Z1JTBCWgINPURaU3WDXqxIFZS+wr2hOhonbH32cAGV3OETppsDFfQsT4Or/iMPUO9jvPJwINz/zNcwuBQfVPpi4g4PU7iS4vQ9D1NlhbBEzmDgDg8RkBLu/OxGu3mUqXNz+6CwY+4H9HwuE+mNrk+FsAKdckUUIAQAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAFt/OGqdLtMNDwaGA/9ldm5iZICCOWqlJjA2ANn3SBEkAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAFt/OGqdLtMNDwaGA/9ldm5iZACDBnvpnUlMEPYDB5+iLChbwLFXJQrK5nGsaE6Gix99nABlpzhG6aZA2TqOvoUJcPV/xGHqGRx3Hk6Em5/5GmYXi6NqH0xcw1FqN8IND37A2AIOTp4wNQ32+4VgZgY4iJjB1OxwkJgMYx9w6O+GqedwdJmahHDzLBj7hsMfCxh7g8OxtclwNgCmJmHgIAEAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAFt/OGqdLtMNDwaGA/9ldm5iZAADBQfpnUlMELaAo09RFpR9wKFXJQrK/uFQ0ZwMZTM4Hn2cAGW3OUbppsD1+hbCxE84/BGHqe9w2Hk4Ec7OfA2z64KDah9MXMVRajfcDQ4PfsDYDPZOnolw9n4hmJkP7EXM4GoYJCYj2P3dMPUrHFymwsQ/OBydBWM3OPyxgLPtjq2F+8seAJM+SkwgAQAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEANs+J2qdLtMNDwaGA/9FHmxiZAACxgfPXKR3JjGB2Qfmu/gUZYHZDB9UXXpVoiBshm7nmQ99+WDs6CNQ9Q1LnI23JkLYDBudpXbDxPc6P/gBZbNIujp5QtWckHbdL5QMYf9Y6yJilgQ1/7qzxOQkuF1Ri95ww9gAytxx17QAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANs+J2qdLtMNDwaGA/9FHmxiZAACnpsFrtI7k5hAbMYH4i4+RVkQdsMp53NW58Vh7Ac/IGpmqTq5Onkmgtm+XCWu+4WSwexn0ttcRMyS4HqLTP35YGwA0huIoXgAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANs+J2qdLtMNDwaGA/9FHmxiZAACxgdpLtI7k5jA7APyLj5FWWA2w4elzr0qURA2A7fzzIe+fDB29BGo+gYVZ+OtiRA2g6Gz1G6YuK3zgx9QNstMFydPqJoTs132CyVD2D90XUTMkqDmhztLTE6C2xW16A03jA0AnQwDALQAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANs+J2qdLtMNDwaGA/8Zd25iZICCbPVSExgbAJPbGVYkAAAA" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEANs+J2qdLtMNDwaGA/8Zd25iZACDM46aO5OYIOwTjrJ/M+HsBTOjoOwjju//JELZhxwzspLgbGfdFCj7gGNPYQJc/WHxZLiaM4cRen2PJsHV825JhKt3nIIw8448TO8ZR19PmJoLjj8EYOKnHO9YINxsYerPB2MDAOzCpjTkAAAA" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEALvJrrtel+mGBwPDgf9NV8JMGYCgbcF8JwDkno0sGAAAAA==" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEALvJrrtel+mGBwPDgf9NV8JMGcCgwBEA+pQofRgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHvO7L9Ol+mGBwPDgf9/pkYwMQDBO2NXpw3XUsFs8/M+Tq/8E8Bs00MBTlJd8WD25JJgp7uqSWB2i2qY079ICHvygRins0shbA25JCf21Ylg9u9Tbk7TDkDED/oZOL37AhFvCzVyirwHEXeoNXYqEIawjZsMnbKyIWzfWEOnP0YQ9kReOycOqPkiYm5OhVB7P3K4Oj2tg7BVE12cLnlD2F8ynJxa3CBs/weWTjrWEPYGDhOn5FoIu93Z2CkiBMIuCzV0OmgIYUs/MnACAFZ4iVYgAQAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEADv3KmqdLtMNDwaGA///TtzEyAAFc9RKTWBsACCBySIkAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEADv3KmqdLtMNDwaGA/9Fdm5iZACDA67T1UpNYGwAVpq4OCQAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAFtz3nudLtMNDwaGA/952g4yMgDBsi52J82dSUwg9joPFifZv5lgtszJt44LZkaB2SVf/ji+/5MIZhcYXXbMyIKoV5D56eismwJhf/3g2FOYAGYHSV52PCyeDGarsK53PHMYorfo1lxH36MQvX8q2h15t0DEl7V1ODpOgYjf0ulwvCMP0Ruz4aajrydEjX7FVccfAhBxqazFjncsIOqX/250lMqGsAukHBzbNkHUG9+a4PhxKkR8kc85R9dZEDZ7TY+jgSWEzVQe7mi0DmJm415bRwB5SsNIIAEAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAFtz3nudLtMNDwaGA/952g4yMgCBV2OIq+bOJCYQO7EhxFX2byaYHQdkL5gZBWYnAdnv/ySC2fFAdkYWRH0CkO2smwJX31OYAGYHO5i6HhZPhqs5cxiiN2qCp6vvUYjesAV2rrxbIOJhBg6ujlMg4sEJFq535JPhdvl6JsLd8EMAIh4CUmMBUR/xwMVVKhvCjmI44dK2CaLew0HG9eNUhDtdZ0HYoUC9BpYQtmeDkqvROoiZAQW6rgBtuzjiIAEAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAFuywnudLtMNDwaGA//fxx1kZAACr8YQV9mdSUwgdmJDiKv830wwOw7Inj8zCsxOArL//EkEs+OBbJ8siPoEIDtfNwWhvjABzA52MHWdI54MV3P0MERv1ARP18QjEL1hC+xcVbZCxMMMHFwVp0DEgxMsXN/KJ8PtcvBMhLuhVgAiHgJUE2EJUR/xwMX1P9Q9UQwnXOZvgqj3cJBx3TwF4c7W2RB2KFBvKVSvZ4OSq/JliJkBBbquAOp5yk4gAQAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFuywnudLtMNDwaGA//PCBxkZAACr8YQV+OdSUwgdmJDiKvK5nQwOw7I7n0cA2YnAdm//iSC2fFAtlcWRH0CkJ2smwJXH1CYAGYHO5i6/hdPhqs5ehiiN2qCp+unIxC9YQvsXFu2QMTDDBxcFadAxIMTLFzfySfD7XL1TIS74SYvRDwEqEbcGqI+4oGL6/EcCDuK4YTL7o0Q9R4OMq6JkxDuPDcXwg4F6m23hLA9G5RcCy9AzAwo0HUFANDwrg0gAQAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAGtq9F6ny3TDg4HhwP9TLw8wMgCBV2OIq+bOJCYQO7EhxFVOOhXMjgOyV1bHg9lJQPazP4lgdjyQHZEFUZ8AZBfqpsDVRxclgNnBDqaub8WS4WoOHobojZrg6apVBtEbtsDO1YkZyjZwcBWdAmEHJ1i4nlyVBLerdB9EbyhQ/DwvxEwPBxlXW2uIGr8H2q7PsiHsKIYTLl2bEuFqkiYh3PluLoRtpcDgOjEOwvZsUHJlXwUx0ylA0BUAS//ivyABAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAGtq9F6ny3TDg4HhwH+zKwcZGYDAnPGEk+bOJCYQO5rhhJPs30wwOwLIXjAzCsyOAbLf/0kEs6OA7IwshHpn3RQwOxLI7ilMgKs/LJ4MV3PmcCJcje9RhF7eLQgzHackwdl35JMR6j0T4ep/CCDMvGOBUD9xsxo7jO06C2G+gSVCjdG6ZLjbAI0Tls4IAQAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAGtq9F6ny3TDg4HhwP9dsw8wMoCBmJPeziQmCFvcSVA6FcoWcJpYHQ9lizqx/U2EsrmcwrJg6kWccnVTmGDmrChMgLL/OXaJJ0PZHE7HDsP0MjsFlcH0fnFcygRjv3BcPgXGfud4cBWMzeOUvA+ml93pBQ/MzG+Oz6xhah45hubA2FccYzfB1D9zzJuUBFe/Z24SXPxhLEL941UwMy84AgDhyDilIAEAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAKuM8l6ny3TDg4HhwP/Dhw4wMoABm5PeziQmCJvFSVA6FcpmdppYHQ9lszqx/U2Esr84hmXB1P9zzNVNgbIZnVYUJkDZtxy7xJOh7BeOxw4nwtlBZTC9lxyXMsHYZxyXT4GxTzkeXAVjf3BM3gfTe8/xBQ/MzDuOF0Rhag44Zk+CsTc4xm6CqT/kmAcXf+C4Zy6Mvc/xYSyMvc3x8SqYmSscARADeUAgAQAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAKuM8l6ny3TDg4HhwP/Dhw4wMoCBmJPeziQmGFtQOhXKFnKaWB0PZfM5sf1NhLI5nMKyYOqFnXJ1U+DqVxQmQNnfHLvEk6FsVqdjh2F6vzgGlcH0PnFcygRjP3JcPgXGfuU4JQbGZnSawINgv+CBmfnB8YIoTPyeo0U2jH3GccLNRLj5eZNg4p8c98xF2PUwFsa+4Ph4FczMU44AamzY5CABAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEALPn8V6ny3TDg4HhwP+/AgcZGcBA0ElvZxIThC3i1LY7GcrmcpK5nQBlizqx/U2Ei4dlIdRb3Iep53W6ux+m/p9jlzhMnN3p2GGYXmanoDKY3k+OS5lg7GeOy6fA2O8cp8TA2IxOE3hgbAanFzwwMz84XhCFid9xtMiGsU85TrgJs+uBY96kJLj6PXNh7CeOD2Nh7AuOj1clw9kAoX7fqiABAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEALPn8V6ny3TDg4HhwP+/AgcZGcBA0ElvZxIThM3nFCafDGWzO/mUJ0LZAk5sf2FsZqewLJh6fieL+zD1PE539ydA2R8cu8Rh4v8cjx1OhIsHlcH0PnBcygRj33JcPgUhPiUGxmZzmsADYzM5veCBmfnJ8YIoTPySo0U2jH3IccLNRLiZeZNg4s8c98yFsa85PoyFsY85Pl6VDGcDAAd93UkgAQAA" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAItKNF2ny3TDg4HhwP9Hu68xMgCBVssmJ72dSUwgNkPCfKcw+WQI+0efk095IoTdMcGJ7S+UrZDiFJYFVT+j1cniPlT9hRanu/sTIOwHsU5d4lBxhoeOxw5D9T745hhUBtXrsNVxKROUzbDecfkUmHi645QYmHii0wQeKHtCktMLnmS4ORdEYW6+6GiRDdPb7DjhZiLc3rxJUPEF4U575iLsehgLU+/n+HgV1EwHGUcAcwv1gCABAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAItKNF2ny3TDg4HhwP9Hu68xMgBB3se1Tno7k5hAbIaK2U5h8skQNkeLk095IoQt0O3E9hfKLnBzCsuCqjfoc7K4D1Wf0OZ0d38ChK3g7dQlDhVveOt47DBUr8Jpx6AyqN4F+xyXMkHZCg2Oy6dA2Q2LHKfEQNkF8U4TeKDsDT5OL3gQZl4QhYo/WO1okQ1lO6Q7TriZCBfPmwRzp7rTnrkIux7GQtkHohwfr4KaeUDDEQBB/AFMIAEAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAItKNF2ny3TDg4HhwP9Hu68xMgDBEbeNTno7k5hAbIYdC53C5JMhbIYqJ5/yRAj7Q7sT218oO8DZKSwrCS5ucR+qfkK10939CRC2QJhTlzhUXIHB6dhhqN4FHxyDyqB6G3Y7LmWCshU2OS6fAmUfOOg4JSYJ7oYJPFD2BE+nFzxQMwtEnC6IIvRaZEPZDn6OE25C7VJ44pg3CSLuaB3gtGcuVE3CRceHsTD1po6PV8H8q+8IAAmqvnkgAQAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAAu0Ml2ny3TDg4HhwP/Xj64xMgDB8+QlTno7k5hAbIYXM53C5JMhbIVaJ5/yRAh7xWQntr9QtkCYU1gWVH3FbCeL+1D1Lxqc7u5PgKvpEoeKN7x1PHY4Ec4OKoPqPXDQcSkTlJ2ww3H5FJh4v+OUGCh7QpLTBB4o+4K/0wseqJkf2J0uiELFHc45WmRD2Q2LHCfchNqV8MoxbxJUPMDZac9cKFuhwfFhLJTNUOX4eBXUTAYPRwC092YLIAEAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAAu0Ml2ny3TDg4HhwP/Xj64xMgCBYMdaJ72dSUwgNsO8uU5h8skQ9pJmJ5/yRAj7TK8T218o+0+AU1hWElzc4j5UfUWT0939CRC2R6hTlzhUXOC947HDUL0cLxyDyqB6PfY4LmWCsjOWOS6fAmW/mOk4JQbKdkh3msADZWsEOb3ggbmN2emCKEzvfkeLbChbocFxwk2oXTeuOeZNgohfmObitGcuzJwFjg9joWyBMMfHq6BmMug7AgDU7OF6IAEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAPuk5b9Ol+mGBwPDgf8f8yKYGIAg73ODw4ZrqWB2iVWFwyv/BDD7gEmxg1RXPJh95li+w13VJDB7RVSOw79ICFviS7LD2aUQtodirAP76kQw2+RhvcO0AxDxIzZ9Du++QMSffepxiLwHEb9j1uNQIAxhu1X2OmRlQ9h7JvQ6/DGCsL3qWx04oOYvSm5wKITae4Sv0eFpHYRdVtnocMkbwubb1eTQ4gZhG6h3OOhYQ9hG97odkmsh7AnRPQ4RIRD2jqm9DgcNIWyh+70OAGRecaMgAQAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHvO7L9Ol+mGBwPDgf9/pkYwMQDBlJNVDhuupYLZ/6yaHF75J4DZN/a2OEh1xYPZl0raHO6qJoHZT7Q6HP5FQtg6cT0OZ5dC2FOO9zuwr04Es23O1zhMOwARf2GW4PDuC0R8yakkh8h7EPEdTikOBcJQM/cmOmRlQ9g/+hId/hhB2Hc2FjpwQM3XeVntUAi198WkKoendRB2y95Kh0veEHaITblDixuELZCU46BjDWHzfElxSK6FsAN+JjtEhEDYDK2JDgcNIWyfTwkOAFyk9NsgAQAA" />
    <add key="/lpc/f71878ad/control/0/values" value="H4sIAAAAAAAEAGuKOLBWl+mGBwPDgf9xK58wMYDBCaf04mITGBsApaCJ5SQAAAA=" />
    <add key="/lpc/f71878ad/fan/2/values" value="H4sIAAAAAAAEALtzcd9aXaYbHgwMB/6zGDxjYoCC9OJiExgbAPtE9x8kAAAA" />
    <add key="/lpc/f71878ad/fan/1/values" value="H4sIAAAAAAAEALtzcd9aXaYbHgwMB/6zGDxjYoCC9OJiExgbAPtE9x8kAAAA" />
    <add key="/lpc/f71878ad/fan/0/values" value="H4sIAAAAAAAEALtzcd9aXaYbHgwMB/6zGDxjYgACtgA2V6vqJDB71mk21/71iWD2lU1srmFPIeJ8s9hcL1xHiIuuQKj/VQdhtzxhc516GaLG6y+b6499SXD1N74kwtWk3EPoTXkNEV8JFC+fDBE3EWN3vW2EUMNei2BPakyCm88BtTcBqHeuKoTtos/uOikXwub0YHdVEEGwNacgzE9PQbCzDBBmAgD7+yMrIAEAAA==" />
    <add key="/lpc/f71878ad/temperature/2/values" value="H4sIAAAAAAAEAAsp2rtWl+mGBwPDgf89/c+ZGMCgwNGqOgnKLnHsX58IFw97ChOvcbxwHSEuugImXuH4qy4JLj71MkLNj30INeJBnZww9m0jhJnstTB2g+Pj80LCMDYA3B3QuKgAAAA=" />
    <add key="/lpc/f71878ad/temperature/1/values" value="H4sIAAAAAAAEAAsp2rtWl+mGBwPDgf89/c+ZGMDgiKNVdRKUfcIxMt2XD8b+sQ8mfsjxxpdEKPuAY8o9mPg+x5TXMPEdjuWTk+Ds20Yw9h5H9tokuN5JjQg2Rx2MvctxripC75pVr7lhbAAdQKCLtAAAAA==" />
    <add key="/lpc/f71878ad/temperature/0/values" value="H4sIAAAAAAAEAGNcv2etLtMNDwaGA//vB71gYgADBaf04mITGBsApDDrriQAAAA=" />
    <add key="/lpc/f71878ad/voltage/8/values" value="H4sIAAAAAAAEAGtg3blWl+mGBwPDgf8Jf14zMQDBvpLL9lbVSWC20oZL9v3rE8FsU+PL9mFPIeLu2y7bX7ieCFcvuiIJzv5VB2Gv/njJfupliBp+3Uv2P/YhzLzxBaE35R5Cb8rrRLje8skQ8Zl5l+xvGyXB3cBeizB/UiNCnANqrwmQPVcVSU0uws0KIgi7NKcg9KanIMSzDBBsAEi9nf4gAQAA" />
    <add key="/lpc/f71878ad/voltage/7/values" value="H4sIAAAAAAAEALtdt32tLtMNDwaGA/9Zm98yMQDBl79X7K2qk8DsWvur9v3rE+Hi1qnq7DD2rzqIGrbGq/ZTLyfC2T/2JcHV3/gCEe8/dNU+5R5CPOV1Itz88skIc24bIdSw1ybB9U5qRLiHA2qvJMs1+7mqCL2TciFsdiBbQQShRnMKhD0BaE56CkI8ywChFwA+47QpCAEAAA==" />
    <add key="/lpc/f71878ad/voltage/6/values" value="H4sIAAAAAAAEADsZvn2tLtMNDwaGA//FV71lYgACDcMOe6vqJDC78mWbff/6RDD7nkqbfdhTiHh6Wpv9heuJcDWiKyDiZxa22v+qS4KbM/UyRE1PTrv9j30IvTe+IMRT7kHEPyxvs095DRGf977dvnwywszbRgg17LUIcyY1QthWWzrsOaD2WgLZc1UR6iflItgKIhC2OtBtmlMQfkxPQbCzDJLgbgAAAKSZ9SABAAA=" />
    <add key="/lpc/f71878ad/voltage/5/values" value="H4sIAAAAAAAEAGvavW2tLtMNDwaGA//j3N4xMQCBN4+TvVV1Epgd2+9k378+Ecz2AoqHPUWI50x8zQ1j3/iCUJNyD6Fm20Y1dhibvTYJbv6kxiS4eo46hHrPC758MDYAB1IA05wAAAA=" />
    <add key="/lpc/f71878ad/voltage/4/values" value="H4sIAAAAAAAEACuZsm2tLtMNDwaGA/9zct8xMQBBtUifvVV1EpjNGtZnryktJAxjp9yDiPdNB7JfJ8LVfHZ6ww1jz1VFqJmUizBHQQTJzCkQtvjNPvv0FIT6LAOEGgBwIYBlnAAAAA==" />
    <add key="/lpc/f71878ad/voltage/3/values" value="H4sIAAAAAAAEAEvM3bZWl+mGBwPDgf/1U94xMQDBrXPl9u+fd3DC2KIrksDibwIr7H/VQdhvgeyplxPB7H9XKux/7IOI/weyb3xJhJuTcg+hPuU1Qrx8MsLM20ZJcPGFNersMPZc1SS4+ZNyEeYriCD0ak5BmJ+egjAnywAhDgBtGSM75AAAAA==" />
    <add key="/lpc/f71878ad/voltage/2/values" value="H4sIAAAAAAAEAAt127ZWl+mGBwPDgf/du98xMQDBl79XbKyqk8DsCYe+2jydcoQFxr5wPREs7pTw1EZ0BULNrzoEe+pliJp8IWbbGbWdnDB2+WSEmttGCDZ7bRJc/ePzQsIwNgDUR6yVnAAAAA==" />
    <add key="/lpc/f71878ad/voltage/1/values" value="H4sIAAAAAAAEAAuQ37ZWl+mGBwPDgf8THr1jYgCCTXP77a2qk8Bs1rA++/71iWD2Aql++7CnEPGEpxPsL1yHiIvf7LMXXQERt77fb/+rDsJmAeqdehmiJpyv1/7HPoh4GJB94wtE/IF/r33KPYh4elqbfcpriPjhrx325ZOT4ObfNkKw2WshbEOOHvtJjRD22TM99hxQe++ptNnPVYWwl81usZ+Ui3CPggiEfQ6oXnMKhF1o22WfnoLQm2UAYYuua7cHAL9PKm0gAQAA" />
    <add key="/lpc/f71878ad/voltage/0/values" value="H4sIAAAAAAAEADO9uHWtLtMNDwaGA/9XG7xnYgAC9sar9lbVSWB2/6Gr9v3rE8HsCUB22FOE+NP6Iyww9q86iPiXv1fsp16GqGcDmvNjH0RckuWa/Y0vCHNS7iHMSXmdCFdTPjkJ7obbRklw9ey1SXAzJzUizOSoQ7DnqiLUT8pFiCuIIPRqTkHYm56CEM8yQLAB6XxJ5BQBAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAFtz3nudLtMNDwaGA/952g4yMkBBtnqpCYwNACqWeh8kAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAFtz3nudLtMNDwaGA/952g4yMgBBqd5DR82dSUwgds2Ge46yfzPB7OUfjjgumBkFZvvfu+z4/k8imL26fLVjRhZEvYvcBUdn3RQwuyf3hGNPYQKY3Xh6leNh8WQwO3FJh+OZwxC9r3LzHX2PQvROv+jkyLsFIn7yqKuj4xSIeEiAm+MdeYheHaHNjr6eEDV/j611/CEAEddIrXK8YwFRP6Xd0lEqG8LmLXrr0LYJol7DLszx41SIeGfgckfXWRC2qIO/o4ElhJ1tyedotA5ipq/IKwcAD+4xtyABAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/f71878ad/control/1/values" value="H4sIAAAAAAAEADvz9+haXaYbHgwMB/6LsNxnYgACI6Mmp/TiYhMYGwCiBib7JAAAAA==" />
    <add key="/lpc/f71878ad/control/2/values" value="H4sIAAAAAAAEAGObdWytLtMNDwaGA/9vpd9jYgACI6Mmp/TiYhMYGwCPvipUJAAAAA==" />
  </appSettings>
</configuration>